---
import MainButton from "../../components/MainButton.vue";

const currentPage = Astro.url.pathname;
const { onMainPage } = Astro.props;

const QUIZZES = {
  "/notiuni_de_baza/programarea": {quiz: "programarea.json"},
  "/notiuni_de_baza/structura": {quiz: "structura.json"},  
  "/notiuni_de_baza/functii": {quiz: "functii.json", exercise: "../exercitii/functii"},
  "/notiuni_de_baza/obiecte": {quiz: "obiecte.json", exercise: "../exercitii/obiecte"},
  "/notiuni_de_baza/operatori": {quiz: "operatori.json", exercise: "../exercitii/operatori"},
  "/notiuni_de_baza/scopuri": {quiz: "scopuri.json"},
  "/notiuni_de_baza/structuri-control": {quiz: "structuri-control.json", exercise: "../exercitii/structuri-control"},
  "/notiuni_de_baza/tipuri-date": {quiz: "tipuri-date.json", exercise: "../exercitii/tipuri-date"},
  "/notiuni_de_baza/vectori": {quiz: "vectori.json", exercise: "../exercitii/vectori"},
};

const hasQuiz = currentPage in QUIZZES && 'quiz' in QUIZZES[currentPage];
const hasExercise = currentPage in QUIZZES && 'exercise' in QUIZZES[currentPage];
---

<div class={onMainPage ? 'show-only-mobile' : 'hide-mobile'}>
{
  (hasQuiz || hasExercise) && (<span style="font-weight: 600;" class="text-slate-600">Activități:</span>)
}
<ol>
  
{
  hasExercise && 
    <MainButton text class="mt-2 mb-2">
      <a href={QUIZZES[currentPage].exercise} target="_blank" rel="noopener">
        Exersează 
      </a>
    </MainButton>
    <br>
}
{
  hasQuiz && (
      <MainButton text config-id={QUIZZES[currentPage].quiz} class="av-quiz">
        Quizz!
      </MainButton>
  )  
}

</ol>

<script></script>

<style scoped>
  .show-only-mobile {
    display: none;
  }

  .hide-mobile {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 968px) {
    .show-only-mobile {
        display: flex;
        flex-direction: column;
    } 
    .hide-mobile {
        display: none;
    }
  }
</style>
