---
const { video_id } = Astro.props;
---

<div id="youtube-video" style="aspect-ratio: 16/9; width:100%"></div>

<script src="./../assets/scripts/iframe_api.js" type="text/javascript"/>

<script>
    let player = new window.YT.Player('youtube-video', {
        videoId: 'FCMxA3m_Imc',
    });
</script>