---
import MainButton from "../components/MainButton.vue";
---

<meta charset="UTF-8" />

<div class="min-h-screen text-center">
  <header class="pt-12 pb-24 px-4 bg-gradient-to-br from-slate-700 to-black">
    <div class="flex items-center justify-center p-4">
      <img src="/astro-design-system-logo.svg" alt="Astro Design System Logo" />
    </div>
    <h1 class="text-white text-4xl font-medium drop-shadow-sm">
      <span>de la 0 la 100 în programare pe fast-forward</span>
    </h1>
    <p class="text-lg mt-4 text-slate-300">
      Vezi cum funcționează un program 'pe interior' rulând pas cu pas fiecare
      instrucțiune. În ritmul tău.
    </p>
    <div class="pt-6">
      <MainButton secondary>
        <a href="notiuni_de_baza/programarea">Mergi la prima lecție</a>
      </MainButton>
    </div>
  </header>
  <nav>
   
  </nav>
</div>

<script is:inline></script>
