<div
    class="modal fade"
    id="feedbackFormModal"
    tabindex="-1"
    aria-labelledby="fullscreenModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mt-2">
                <button
                    type="button"
                    class="av-btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="front mt-4">
                <iframe                  
                    loading="lazy"
                    style="height:90vh;width:100%;"                    
                    src="https://docs.google.com/forms/d/e/1FAIpQLSe4ka9gVCW-608C8zcbWa2Dx-vdgzdzb1U1qTGLgx1Cphb2jA/viewform?embedded=true"
                    >Se incarca…</iframe
                >
            </div>
        </div>
    </div>
</div>

<script>
    import {Modal} from "bootstrap";

    let feedbackFormModal = document.getElementById("feedbackFormModal");
    let feedbackFormModalModal = new Modal(feedbackFormModal, {
        keyboard: false,
    });

    document.getElementById("btnFeedbackFrom").addEventListener("click", () => {
        feedbackFormModalModal.show();
    });
</script>
