---
const { content } = Astro.props;
const title = content.title;
const headers = content.astro ? content.astro.headers : undefined;
---

<article id="article" class="content">
	<section class="main-section">
		<nav class="block sm:hidden">
		</nav>
		<slot />
		<div id="hookChecklistMainPage" />
	</section>
</article>